*{
  text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container div.game{
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width:300px;
  border: 2px solid rgb(8, 168, 88);
  position:relative;
}
.stillCreating{
  opacity: 0.25;
}
.centered {
  position: absolute;
    top: 40%;
    background-color:rgba(71, 68, 68, 0.51);
    width: 94%;
    height: 30%;
    left: 3%;
    -webkit-transform: rotateZ(-6deg);
}
a{
  display:flex;
  position: relative;
  flex-direction: column;
}