
#div1 {
  width: 350px;
  height: 300px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.ball{
  display: inline-block;
	width:100px;
	height:100px;
	background-color:blue;
	border-radius: 100%;
}

.item {
  background: blue;
  position: absolute;
  height: 75px;
  width: 200px;
  margin: 100px;
}
